{%  extends 'base.html.twig' %}
{% block title %}Sortir{% endblock %}
{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-8"></div>
            <div class="col-12 col-lg-4">Date du jour : {{ "now"|date("d/m/Y") }}<br>
            {% if app.user %}
                Participant : {{ app.user.pseudo }}
            {% endif %}</div>
        </div>
        <h4>Filtrer les sorties</h4>
        {{ form_start(filterForm) }}
        <div class="row">

            <div class="col-12 col-lg-5">
                {{ form_row(filterForm.campus) }}
                {{ form_row(filterForm.nom) }}
                {{ form_row(filterForm.dateMin) }}
                {{ form_row(filterForm.dateMax) }}
            </div>
            <div class="col-12 col-lg-5">FILTRE CHECKBOX</div>
            <div class="col-12 col-lg-2"><button class="btn btn-success" type="submit">Rechercher</button> </div>

        </div>
        {{ form_end(filterForm) }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in listAllSorties %}


                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                    <td>{{ sortie.participants.count }}/{{ sortie.nbInsriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if  inscriptions == sortie.nom and app.user.pseudo != sortie.organisateur.pseudo and sortie.etat.libelle != "Créée" %}
                            <div> x </div>
                        {% else %}
                            <div> </div>
                        {% endif %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>

                        <td>{% if app.user != null %}
                            {% if app.user.pseudo == sortie.organisateur.pseudo %}
                                {%  if sortie.etat.libelle == "Créée" %}
                                    <div>Modifier - Publier</div>
                                {%  elseif sortie.etat.libelle == "Ouverte" %}
                                  <div> <a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a></div>
                                    <div>- <a href="{{ path('sortie_annuler',{'id': sortie.id})}}" title="Annuler ">Annuler</a></div>
                                {% endif %}


                            {% elseif app.user.pseudo != sortie.organisateur.pseudo %}
                                {% if sortie.etat.libelle == "Cloturée" or sortie.etat.libelle == "Activité en cours" or sortie.etat.libelle == "Passée"%}
                                    <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a></div>
                                {% elseif sortie.etat.libelle == "Ouverte" and inscriptions != sortie.nom %}
                                    <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a>-<a href="{{ path('sortie_sinscrire',{'id': sortie.id})}}" title="sinscrire "> S'inscrire </a></div>
                                {% elseif sortie.etat.libelle == "Ouverte" and inscriptions == sortie.nom%}
                                    <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a>Se désister</div>

                                {% else %}
                                    <div> en chantier</div>
                                {% endif %}

                            {% endif%}
                            {% else %}

                                <div>connecte toi</div>
                            {% endif %}
                                        </div>
                                    </div>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success"><a href="{{ path('sortie_create') }}" title="Cree un sortie">Créer une sortie</a> </button>
    </section>
{% endblock %}
