{%  extends 'base.html.twig' %}
{% block title %}Sortir{% endblock %}
{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-8"></div>
            <div class="col-12 col-lg-4">Date du jour : {{ "now"|date("d/m/Y") }}<br>
            {% if app.user %}
                Participant : {{ app.user.pseudo }}
            {% endif %}</div>
        </div>
        <h4>Filtrer les sorties</h4>
        {{ form_start(filterForm) }}
        <div class="row">

            <div class="col-12 col-lg-5">
                {{ form_row(filterForm.campus) }}
                {{ form_row(filterForm.nom) }}
                {{ form_row(filterForm.dateMin) }}
                {{ form_row(filterForm.dateMax) }}
            </div>
            <div class="col-12 col-lg-5">FILTRE CHECKBOX</div>

            <div class="col-12 col-lg-2"><button class="btn btn-success" type="submit">Rechercher</button> </div>

        </div>
        {{ form_end(filterForm) }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in listAllSorties %}


                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                    <td>{{ sortie.participants.count }}/{{ sortie.nbInsriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for inscription in inscriptions %}
                            {% if  inscription.id == sortie.id and app.user.pseudo != sortie.organisateur.pseudo %}
                                <div> x </div>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>

                        <td>{% if app.user != null %}
                            {% if app.user.pseudo == sortie.organisateur.pseudo %}
                                {%  if sortie.etat.libelle == "Créée" %}
                                    <div>Modifier - <a href="{{ path('sortie_publier',{'id': sortie.id})}}" title="Publier ">Publier</a></div>
                                {%  elseif sortie.etat.libelle == "Ouverte" %}
                                  <div> <a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a> - <a href="{{ path('sortie_annuler',{'id': sortie.id})}}" title="Annuler ">Annuler</a></div>
                                {% endif %}


                            {% elseif app.user.pseudo != sortie.organisateur.pseudo %}
                                {% if sortie.etat.id == 3 or sortie.etat.id == 4 or sortie.etat.id == 5 %}
                                    <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a></div>
                                {% elseif sortie.etat.id == 2 %}
                                    {% set ok=0 %}
                                    {% for inscription in inscriptions %}
                                    {% if  inscription.id == sortie.id and app.user.pseudo != sortie.organisateur.pseudo %}
                                        {% set ok=1 %}
                                        <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a>-<a href="{{ path('sortie_sedesister',{'id': sortie.id})}}" title="sedesister ">Se désister</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% if ok==0 %}
                                        <div><a href="{{ path('sortie_afficher',{'id': sortie.id})}}" title="Afficher ">Afficher</a>
                                            {% if sortie.etat.id == 2 and sortie.nbInsriptionsMax > sortie.participants.count %}
                                                - <a href="{{ path('sortie_sinscrire',{'id': sortie.id})}}" title="sinscrire "> S'inscrire </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% elseif sortie.etat.id == 6 and sortie.etat.id == 7 %}
                                    <div> </div>
                                {% endif %}

                            {% endif%}
                            {% else %}

                                <div>connecte toi</div>
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success"><a href="{{ path('sortie_create') }}" title="Cree un sortie">Créer une sortie</a> </button>
    </section>
{% endblock %}
