{% extends 'base.html.twig' %}


{% block title %}Participant :  {{ profil.prenom }} {{ profil.nom }}{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        <center><img class="photo_profil" src="{{ asset('img/' ~ profil.image) }}" alt="profil"/></center>
        <table>
            <tr><td>Nom :</td><td>{{ profil.nom }}</td></tr>
            <tr><td>Prénom :</td><td>{{ profil.prenom }}</td></tr>
            <tr><td>Email :</td><td>{{ profil.mail }}</td></tr>
            <tr><td>Campus :</td><td>{{ profil.campus.nom }}</td></tr>
        </table>
    </div>
{% endblock %}