{% extends 'base.html.twig' %}


{% block title %}Données personnelles de {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}
    <div class="grix xs4 container" xmlns="http://www.w3.org/1999/html">
        {% for message in app.flashes('message') %}
            <div class="col-xs4">
                <div class="p-3 my-2 rounded-2 success">{{message}}</div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>Données personnelles de {{ app.user.prenom }} {{ app.user.nom }}</h1>
        </div>
        <img src="{{ asset('img/' ~ app.user.image) }}">
        <div>
        <label class="col-xs1">Nom :</label>
        <span class="col-xs3" >{{ app.user.nom }}</span>
        </div>
        <div>
        <label class="col-xs1">Prénom :</label>
        <span class="col-xs3" >{{ app.user.prenom }}</span>
        </div>
        <div>
        <label class="col-xs1">Email :</label>
        <span class="col-xs3" >{{ app.user.mail }}</span>
        </div>
        <div>
        <label class="col-xs1">Numéro :</label>
        <span class="col-xs3" >{{ app.user.telephone }}</span>
        </div>
        <div class="col-xs4">
            <button> <a href="{{ path('profil_editProfil') }}" class="btn btn-success">Modifier</a></button>
            <button><a href="{{ path('user_delete') }}" class="btn btn-danger">Supprimer</a></button>
        </div>

       {#  <div class="col-xs4">
            <h1>Annonces de {{ app.user.prenom }} {{ app.user.nom }} ({{ app.user.sortie|length }})</h1>
        </div>
        {% for annonce in app.user.sortie %}
            <div class="col-xs1">Titre :</div>
            <div class="col-xs3">{{ annonce.title }}</div>
            <div class="col-xs1">Contenu :</div>
            <div class="col-xs3">{{ annonce.content }}</div>
            <div class="col-xs4">
                {% for image in annonce.images %}
                    <img src="{{ asset('uploads/images/annonces/' ~ image.name)|imagine_filter('square') }}" alt="{{ annonce.title }}">
                {% endfor %}
            </div>

        {% endfor %}
#}
    </div>
{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("{{ asset('css/plage.jpg') }}");
        }
    </style>
{% endblock %}