{% extends 'base.html.twig' %}

{% block body %}

        <h1>Liste des Participant</h1>

    <div class="tab">ID</div>
    <div class="tab">Pseudo</div>
    <div class="tab">Nom</div>
    <div class="tab">Mail</div>
    <div class="tab">Actions</div>
    <br>
    <div></div>

    {% for participant in listParticipants %}
        <div class="tab">{{ participant.id}}</div>
        <div class="tab">{{ participant.pseudo}}</div>
        <div class="tab">{{ participant.nom}}</div>
        <div class="tab">{{ participant.mail}}</div>
        <div class="tab">{% if participant.actif == 1 %}
                <a href="{{ path('admin_desactiverParticipant',{'id': participant.id})}}" title="desactiver ">Désactiver</a> -
                    <a href="{{ path('admin_admin_supprimerParticipant',{'id': participant.id})}}"title="supprimer ">Supprimer</a>
            {% else %}
                <a href="{{ path('admin_reactiverParticipant',{'id': participant.id})}}" title="reactiver ">Réactiver</a> -
                    <a href="{{ path('admin_admin_supprimerParticipant',{'id': participant.id})}}"title="supprimer ">Supprimer</a>

            {% endif %}
        </div>
        <br>
        <div></div>
    {% endfor %}
{% endblock %}


{% block title %}

{% endblock %}

