{% extends 'base.html.twig' %}

{% block title %} {{sortie.nom }} {% endblock %}

{% block body %}
<div class="grix xs4 container">
    {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 success">{{message}}</div>
        </div>
    {% endfor %}
    <div class="col-xs4">
        <h1>Sortie: {{ sortie.nom }} </h1>
        <hr>
    </div>
    <div class="row">
        <table>
            <tr><td>Nom de la sortie :</td><td> {{ sortie.nom }}</td></tr>
            <tr><td>Date et heure :</td><td>{{ sortie.dateHeureDebut|date("Y-m-d") }}</td></tr>
            <tr><td>Date limite d'inscription :</td><td>{{ sortie.dateLimiteInscription|date("Y-m-d")  }}</td></tr>
            <tr><td>Nombre de places :</td><td>{{ sortie.nbInsriptionsMax }}</td></tr>
            <tr><td>Durée :</td><td>{{ sortie.duree|date("Y-m-d")  }}</td></tr>
            <tr><td>Description et infos :</td><td>{{ sortie.infosSortie }}</td></tr>
        </table>
        <hr>
        <table>
            <tr><td>Campus :</td><td>{{ sortie.campus.nom }}</td></tr>
            <tr><td>Lieu :</td><td>{{ sortie.lieu.nom }}</td></tr>
            <tr><td>Rue :</td><td>{{ sortie.lieu.rue }}</td></tr>
            <tr><td>Code Postal :</td><td>{{ sortie.ville.codePostal }}</td></tr>
            <tr><td>Latitude:</td><td>{{ sortie.lieu.latitude }}</td></tr>
            <tr><td>Longitude:</td><td>{{ sortie.lieu.longitude }}</td></tr>
        </table>
    </div>
    <div>
        <hr>
        <label class="col-xs1">Liste des participant inscrits:</label>
        <table class="table table-hover" style="width:50%">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
        <tbody>
 {% if listAllParticipants.participants != null %}
        {% for participant in listAllParticipants.participants%}
            <tr>
                <td><a href="{{ path('profil_detail',{'id': participant.id})}}" title="Afficher le profil ">{{ participant.pseudo}}</td>
                <td>{{ participant.prenom}} {{ participant.nom}}</td>
            </tr>
        {% endfor %}
{% endif %}
        </tbody>
        </table>



    </div>



{% endblock %}