{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
    <div class="grix xs4 container">
    {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 success">{{message}}</div>
        </div>
    {% endfor %}
    <div class="col-xs4">
        <h1>Annuler une sortie</h1>
    </div>
    <div>
        <div> Nom de la sortie : {{ sortie.nom }}</div>
        <div> Date de la sortie : {{ sortie.dateHeureDebut|date("Y-m-d") }}</div>
        <div> Campus : {{ sortie.campus.nom }}</div>
        <div> Lieu : {{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville }}</div>
        <div> Rue : {{ "#" }}</div>
        <div> Code Postal : {{ "#" }}</div>
        <div> Latitude: {{ "#" }}</div>
        <div> Longitude: {{ "#" }}</div>


    </div>
    <div>
        <label class="col-xs1">Liste des participant inscrits:</label>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% if listAllParticipants.participants != null %}
                {% for participant in listAllParticipants.participants%}
                    <tr>
                        <td>{{ participant.pseudo}}</td>
                        <td>{{ participant.nom}}</td>

                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>



    </div>



{% endblock %}