<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}Sortir{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src={{ asset('js/app.js') }}></script>

{% block extrastyles %}

{% endblock extrastyles %}

    <link rel="icon" href="{{ asset('img/logo.png')}}">
</head>
<body>
<header>
    <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.png') }}"></a>
    {% include('nav/nav.html.twig') %}
</header>
{# read and display all flash message #}
{%  for label, messages in app.flashes%}
    {% for message in messages %}
        <div class="flash flash-{{  label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}

{%  endblock body %}

<footer>
    <div style="text-align: center">&copy; {{ "now"|date('h:i:s-d/m/Y') }} Sortir.com!</div>
</footer>

</body>
</html>
